*{
    margin: 0;
    padding: 0;

}
body{
    background:#222;
    color: white;
    font-family:system-ui;


}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;

}
input{
    width: 100%;
    height:30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    padding: 4px;
    color: white;
}
input:focus{
        background: #000;
        transform: scale(1.1);
    }
.price input {
    width:20%;
}
#total{
    background: #740303 ;
    padding: 5px 2px;
    border-radius: 4px;
   
}
#total::before{
    content: 'Total:'  ;
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: rgba(142, 3, 104, 0.78);
    border-radius: 20px;
    color: white;
    transition: 0.6s;
    text-transform: uppercase;
}
button:hover{
    background: rgba(60, 2, 45, 0.78);
    letter-spacing: 2px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}

.btnSearch button{
    width: 45%;
}
#deleteAll {
    margin-top: 10px;
}
table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;

}
th,td{
    padding: 5px;
}
#btn5{
    width: 30px;
    height:30px;
    border:none;
    background: red;
    cursor: pointer;
    position: fixed;
    bottom: 10px ;
    right: 10px;
    display: none;
}